.navbar-fixed-top {
  position: fixed;
  top: 0;
  right:0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
}
nav {
  height:60px;
  background-color:#a5a5a5;
}
.container
{

}

/* update */
.img_field {
	height:500px;
}
.col_img {
	width:250px;
}
.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}